Basic Neural Network

In [2]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

In [3]:
class model(nn.Module):
    def __init__(self, in_features, h1=8, h2=9, out_features=3):
        super().__init__()
        self.fc1 = nn.Linear(in_features,h1)
        self.fc2 = nn.Linear(h1,h2)
        self.out = nn.Linear(h2,out_features)
    
    def forward(self,x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [4]:
torch.manual_seed(41)
model = model(in_features=4)

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'
my_df = pd.read_csv(url)

In [7]:
my_df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
my_df["variety"] = my_df["variety"].replace({"Setosa": 0, "Versicolor": 1, "Virginica": 2})
my_df

/var/folders/08/t3fd316j5d3_81r4yf5288vh0000gn/T/ipykernel_6236/3966735912.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  my_df["variety"] = my_df["variety"].replace({"Setosa": 0, "Versicolor": 1, "Virginica": 2})

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [9]:
x = my_df.drop('variety' ,axis=1)
y = my_df['variety']

In [10]:
print(x)

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
#convert these into numpy arrays
x = x.values
y = y.values

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test , y_train , y_test = train_test_split(x,y , train_size=0.2 ,random_state=41)

In [13]:
x_train = torch.FloatTensor(x_train)
x_test = torch.FloatTensor(x_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [14]:

criterion = nn.CrossEntropyLoss()

optimizer = torch.optim.Adam(model.parameters(), lr = 0.01) #choose  optimizer and learning rate|

In [57]:
#train our model
epochs = 100
losses = []

for i in range(epochs):
    y_pred = model.forward(x_train)  #getting predicted value
    loss = criterion(y_pred,y_train ) #measure the loss/error 

    losses.append(loss.detach().numpy)

    #print every 10 epochs to track the loss
    if i % 10 == 0:
        print(f'epoch:{i} and loss:{loss}')

    #do backprogation
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

epoch:0 and loss:1.3954918358649593e-05
epoch:10 and loss:1.3823798326484393e-05
epoch:20 and loss:1.3700624549528584e-05
epoch:30 and loss:1.3573476280726027e-05
epoch:40 and loss:1.3438382666208781e-05
epoch:50 and loss:1.3319181562110316e-05
epoch:60 and loss:1.3203954040363897e-05
epoch:70 and loss:1.3072832189209294e-05
epoch:80 and loss:1.2957605576957576e-05
epoch:90 and loss:1.2838403563364409e-05